/* I was having difficulty getting fonts to change, so I went into the bootstrap code, stripped the pieces I wanted to edit, put them in here, and modified elements*/
/*----------Bootstrap edits---------------*/
/*----------Universal---------------------*/
/*----------<header>----------------------*/
/*----------<main>------------------------*/
/*----------<main>Index-------------------*/
/*----------<main>Contact-----------------*/
/*----------<main>Portfolio---------------*/
/*----------<footer>----------------------*/

/*----------Bootstrap edits---------------*/


/*----------Universal---------------------*/
body{
  padding-bottom: 5%;
}

.posRel{
  position:relative;
}

.posAbs{
  position:absolute;
}
.nav{
  bottom:0;
  right:10%;
}

.clearfix::after{
content: ””;
display: block;
clear: both;
}
/*----------<header>BootStraps------------*/
.btn-lg{
  position: absolute;
  height: 80%;
  bottom:0;
  left: 10%;
  background-color: #4aaaa5;
}
.nav-tabs > li > a:hover {
  border-color: #4aaaa5 #4aaaa5 #ddd;
  color: white;
  background-color: #666;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #4aaaa5;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.headerSize{
  height:50px;
}
/*----------<header>----------------------*/
.autoFill{
  height: 100%;
  width: 100%;
}


/*----------<main>BootStraps--------------*/

.mainBtnFormat{
  Margin:5%;
  border-radius:5%;
  background-color:#4aaaa5;
  width:100%;
}
/*I DONT KNOW HOW TO MAKE ONE OF THESE
hover changes color from #4aaaa5 to #666
*/
.mainBtnFormat > button > a:hover{
  background-color: #666;
}

.media-object{
  max-width: 67px;
  max-height: 67px;
}
/*----------<main>------------------------*/
/*lines next to connect buttons*/
.media-heading{
    border-bottom: 3px solid #4aaaa5;
}

/*----------<main>Index-------------------*/
/*----------<main>Contact-----------------*/
/*----------<main>Portfolio---------------*/

/*used in javascript*/
#indexFormat{
  display: block;
}
#contactFormat{
  display: none;
}
#portfolioFormat{
  display: none;
}
/*background for central section*/
#mainFormat{
  background-image:url(../images/ep_naturalwhite/ep_naturalwhite.png);
  margin: 5% auto;
  border-radius: 5px;
}

/*formatting for portfolio image*/
#mainImage{
  height:200px;
  width:200px;
  float:left;
  margin: 0 20px 5px 0;
}

/* getting media buttons to align*/
.floatLeft{
  float:left;
}

/*----------<footer>BootStraps------------*/
.navbar-fixed-bottom{
  height:10%;
  width:100%;
  background-color:#666;
  border-top: 5px solid #4aaaa5;
  text-align: center;
  color: white;
  margin: auto;
}
/*----------<footer>----------------------*/
.copyright{
  /*
  giving space to copyright
  having trouble getting this to work as a %
  */
  margin-top: 10px;
}
